---
steps:
  - name: 'eu.gcr.io/{cloudbuilders}/cloudbuilder-function-deploy'
    entrypoint: 'bash'
    args:
      - '-c'
      - |
        function_deploy.py ${PROJECT_ID}-poll-from-link2-func \
          --entry-point=json_to_link2 \
          --runtime=python37 \
          --trigger-http \
          --project=${PROJECT_ID} \
          --region=europe-west1 \
          --max-instances=1 \
          --timeout=540 \
          --set-env-vars=PROJECT_ID=${PROJECT_ID} \
          --set-env-vars=AZURE_STORAGEKEY_SECRET_ID=${PROJECT_ID}-azure-storage-key \
          --invoker=${PROJECT_ID} ../../../config/${PROJECT_ID}/consume_func_permissions.json
    dir: 'functions/link2_poll'

  - name: 'eu.gcr.io/{cloudbuilders}/cloudbuilder-scheduler-deploy'
    id: 'deploy-poll-from-link2-func-scheduler'
    entrypoint: 'bash'
    args:
      - '-c'
      - |
        _URI=https://europe-west1-${PROJECT_ID}.cloudfunctions.net/${PROJECT_ID}-poll-from-link2-func
        scheduler_deploy.py http ${PROJECT_ID}-poll-from-link2-job \
          --schedule='*/1 * * * *' \
          --uri=$${_URI} \
          --project=${PROJECT_ID} \
          --oidc-service-account-email=${PROJECT_ID}@appspot.gserviceaccount.com \
          --oidc-token-audience=$${_URI}
