---
steps:
  - name: 'eu.gcr.io/{cloudbuilders}/cloudbuilder-function-deploy'
    entrypoint: 'bash'
    args:
      - '-c'
      - |
        function_deploy.py ${PROJECT_ID}-bucket-xml-to-json-func \
          --entry-point=status_to_json \
          --runtime=python37 \
          --trigger-bucket=${PROJECT_ID}-bucket-stg \
          --project=${PROJECT_ID} \
          --region=europe-west1 \
          --max-instances=1 \
          --timeout=540
          --invoker=${PROJECT_ID} ../../../config/${PROJECT_ID}/consume_func_permissions.json
    dir: 'functions/bucket_xml_to_json'
